@import '../../styles/Colors/neutral.scss';
@import '../../styles/Colors/primary.scss';

.main {
  display: flex;
  background: url('../../assets/images/bg-intro-desktop.svg') $light-grayish-blue no-repeat; 
  background-position: 1000px -230px;
  background-size: cover;
  height: 80vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.card__title {
  font-size: 45px;
  font-weight: 400;
  max-width: 450px;
  height: 80px;
  color: $dark-blue;
}

.card__text {
  max-width: 450px;
  color: $grayish-blue;
  margin: 60px 0 35px 0;
}

.card__button {
  align-self: flex-start;
  margin-left: 70px;
}


.mockups {
  position: absolute;
  right: -125px;
  top: -10px;
  z-index: 1;
}