@import '../../styles/Colors/neutral.scss';
@import '../../styles/Colors/primary.scss';

.about {
  height: 100vh;
  width: 100%;
  background-color: $light-grayish-blue;
}

.about__tittle_container {
  width: 70%;
  margin: 7% auto;
}

.about__tittle {
  font-size: 40px;
  font-weight: normal;
  color: $dark-blue;
}

.about__text {
  color: $grayish-blue;
  max-width: 600px;
  margin-top: 30px;
}


.about__card__container {
  display: flex;
  column-gap: 40px;
}