@import '../../styles/Colors/neutral.scss';
@import '../../styles/Colors/primary.scss';

.header {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: $white;
  height: 70px;
  z-index: 2;
}

.logo {
  cursor: pointer;
}

.header__container {
  display: flex;
  width: 70%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav__container {
  height: 100%;
}



.nav__close_button {
  display: none;
}

.nav__hamburguer_button {
  display: none;
}

.nav {
  display: flex;
  list-style-type: none;
  height: 100%;
}

.nav__item { 
  color: $dark-blue;
  margin: 0 20px;
  cursor: pointer;
  align-self: center;
  padding: 22px 0;
}

.nav__item:hover {
  border-bottom: 5px solid $lime-green;
}

@media screen and (max-width: 1040px){
  .header__container {
    width: 100%;
    margin: 0 25px;
  }

  .nav {
    display: none;
  }

  .nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav__close_button {
    display: block;
  }
  
  .nav__hamburguer_button {
    display: block;
  }

  .nav__request_button {
    display: none;
  }
}