@import '../../styles/Colors/neutral.scss';
@import '../../styles/Colors/primary.scss';

.footer {
  display: flex;
  justify-content: center;
  height: 250px;
  width: 100%;
  background-color: $dark-blue;
}

.footer__container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__left__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100%;
}

.footer__images__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
}

.footer__social__container {
  display: flex;
  justify-content: space-between;
}

.footer__text {
  color: $white;
}

.footer__text__left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}

.footer__right__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 50%;
}

.footer__right__content {
  display: flex;
  flex-direction: column;
}

.footer__right__button {
  margin-bottom: 30px;
  align-self: flex-end;
}
